In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import pickle

In [2]:

data = pd.read_csv('bp.csv')

data

      id  gender  height  weight   bp  gluc  year  current  age   Medication
0      0       2     168      62  110     1  1950     2000   50     Midorine
1      1       1     156      85  140     1  1955     2000   45          Nil
2      2       1     165      64  130     1  1951     2000   49          Nil
3      3       2     169      82  150     1  1948     2000   52  Lisinoprill
4      4       1     156      56  100     1  1947     2000   53     Midorine
..   ...     ...     ...     ...  ...   ...   ...      ...  ...          ...
194  264       1     162      62  140     1  1960     2000   40          Nil
195  265       2     174      88  120     2  1953     2000   47          Nil
196  267       1     176     108  140     1  1962     2000   38          Nil
197  271       2     171      71  120     1  1959     2000   41          Nil
198  272       2     183      85  120     1  1941     2000   59          Nil

[199 rows x 10 columns]

In [3]:
X=data[['bp','age']]
X

      bp  age
0    110   50
1    140   45
2    130   49
3    150   52
4    100   53
..   ...  ...
194  140   40
195  120   47
196  140   38
197  120   41
198  120   59

[199 rows x 2 columns]

In [4]:
Y=data[['Medication']]
Y

      Medication
0       Midorine
1            Nil
2            Nil
3    Lisinoprill
4       Midorine
..           ...
194          Nil
195          Nil
196          Nil
197          Nil
198          Nil

[199 rows x 1 columns]

In [5]:

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Standardize the features
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Encode the target variable
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

c:\Users\bhara\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\bhara\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [6]:
import pickle


# Save the StandardScaler object
with open('scaler.pkl', 'wb') as file:
    pickle.dump(sc, file)

# Save the LabelEncoder object
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

In [7]:
X_train

      bp  age
183  120   37
38   130   36
24   150   55
142  140   37
141  140   40
..   ...  ...
106  120   61
14   130   61
92   150   49
179  110   41
102  100   54

[159 rows x 2 columns]

In [8]:
X_array=X_test.values

X_test_std

array([[-4.51324666e-01,  1.77620874e-03],
       [-4.51324666e-01,  1.13144497e+00],
       [-4.51324666e-01, -5.63058171e-01],
       [-4.51324666e-01,  1.13144497e+00],
       [-4.51324666e-01, -2.80640981e-01],
       [-4.51324666e-01,  7.07819183e-01],
       [ 2.01679646e+00, -1.39432386e-01],
       [ 1.39976618e+00, -9.86683956e-01],
       [-4.51324666e-01, -8.45475361e-01],
       [-4.51324666e-01, -5.63058171e-01],
       [-4.51324666e-01,  1.13144497e+00],
       [-4.51324666e-01, -2.80640981e-01],
       [ 1.65705617e-01, -8.45475361e-01],
       [-4.51324666e-01,  4.25401993e-01],
       [ 1.39976618e+00, -8.45475361e-01],
       [-1.68538523e+00,  4.25401993e-01],
       [-1.42809524e-01, -8.45475361e-01],
       [-1.06835495e+00,  1.42984804e-01],
       [ 7.82735899e-01, -1.41030974e+00],
       [-1.06835495e+00,  5.66610588e-01],
       [ 1.65705617e-01, -7.04266766e-01],
       [ 7.82735899e-01, -8.45475361e-01],
       [-1.06835495e+00,  1.42984804e-01],
       [-4.51324666e-01,  1.13144497e+00],
       [ 1.65705617e-01,  1.42984804e-01],
       [-4.51324666e-01,  1.97869654e+00],
       [ 1.65705617e-01, -1.55151834e+00],
       [-1.06835495e+00, -1.39432386e-01],
       [-1.68538523e+00,  8.49027778e-01],
       [-4.51324666e-01, -9.86683956e-01],
       [-1.06835495e+00,  2.84193399e-01],
       [ 7.82735899e-01,  4.25401993e-01],
       [ 7.82735899e-01, -5.63058171e-01],
       [-1.06835495e+00, -4.21849576e-01],
       [ 3.86788731e+00,  2.84193399e-01],
       [-1.06835495e+00, -5.63058171e-01],
       [-4.51324666e-01, -5.63058171e-01],
       [-1.06835495e+00,  1.97869654e+00],
       [ 1.65705617e-01, -4.21849576e-01],
       [ 7.82735899e-01,  5.66610588e-01]])

In [9]:
X_array

array([[120,  47],
       [120,  55],
       [120,  43],
       [120,  55],
       [120,  45],
       [120,  52],
       [160,  46],
       [150,  40],
       [120,  41],
       [120,  43],
       [120,  55],
       [120,  45],
       [130,  41],
       [120,  50],
       [150,  41],
       [100,  50],
       [125,  41],
       [110,  48],
       [140,  37],
       [110,  51],
       [130,  42],
       [140,  41],
       [110,  48],
       [120,  55],
       [130,  48],
       [120,  61],
       [130,  36],
       [110,  46],
       [100,  53],
       [120,  40],
       [110,  49],
       [140,  50],
       [140,  43],
       [110,  44],
       [190,  49],
       [110,  43],
       [120,  43],
       [110,  61],
       [130,  44],
       [140,  51]], dtype=int64)

In [10]:
# Initialize the SVM classifier
svm = SVC(kernel='linear', C=1.0, random_state=42)

# Train the SVM classifier
svm.fit(X_train_std, y_train_encoded)

# Predict the labels of the test set
y_pred_encoded = svm.predict(X_test_std)

# Calculate accuracy
accuracy = accuracy_score(y_test_encoded, y_pred_encoded)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [11]:
y_pred_encoded

array([2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 1, 2, 1, 2, 1, 2, 2,
       1, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 1, 0, 1, 2, 1, 2, 2])

In [12]:
predicted_class_decoded = label_encoder.inverse_transform(y_pred_encoded)
predicted_class_decoded

array(['Nil', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil', 'Lisinoprill',
       'Lisinoprill', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil', 'Nil',
       'Lisinoprill', 'Midorine', 'Nil', 'Midorine', 'Nil', 'Midorine',
       'Nil', 'Nil', 'Midorine', 'Nil', 'Nil', 'Nil', 'Nil', 'Midorine',
       'Midorine', 'Nil', 'Midorine', 'Nil', 'Nil', 'Midorine',
       'Lisinoprill', 'Midorine', 'Nil', 'Midorine', 'Nil', 'Nil'],
      dtype=object)

In [13]:
custom_input=[[100,80]]

custom_input=np.array(custom_input)

custom_input_std = sc.transform(custom_input)


predicted_class = svm.predict(custom_input_std)

# Decode the predicted class if necessary
predicted_class_decoded = label_encoder.inverse_transform(predicted_class)

arr_str_flat = ', '.join(predicted_class_decoded.flatten())

print("Recommended Medicine:", arr_str_flat)

if predicted_class==0:
    if custom_input[0][1]<=18:
        print("Recommended Dosage Level: 5mg")
    else:
        print("Recommended Dosage Level: 10mg")

elif predicted_class==1:
    if custom_input[0][1]<=18:
        print("Recommended Dosage Level: 2.5mg")
    else:
        print("Recommended Dosage Level: 2.5mg")
else:
    print("The Patient is Normal")

Recommended Medicine: Midorine
Recommended Dosage Level: 2.5mg

c:\Users\bhara\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [14]:
# Print out the unique encoded values of the target variable
print("Encoded classes:", np.unique(y_train_encoded))

Encoded classes: [0 1 2]

In [15]:
# View the encoded classes
encoded_classes = label_encoder.classes_
print("Encoded classes:", encoded_classes)

Encoded classes: ['Lisinoprill' 'Midorine' 'Nil']

In [16]:
# Save the StandardScaler object
with open('Classification.pkl', 'wb') as file:
    pickle.dump(svm, file)